.Footer {
    background-color: #343a40;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    position:relative;
    bottom: 0;
}

p {
    align-content: center;
    margin: 16px;
    opacity: 50%;
}